<a href="https://colab.research.google.com/github/ASTRA018/ASTRA018/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
cat_names = ['Soot', 'Tibbs', 'Scrunkles', 'Bob']
print(cat_names[0])
print(cat_names[1])
print(cat_names[2])
print(cat_names[3])

Soot
Tibbs
Scrunkles
Bob

In [5]:
message = f"{cat_names[0]} is such a dapper kitty!"
print(message)
# Each message is the same except change {cat_names[]} insert number into [] depending on which name wanted

Soot is such a dapper kitty!

In [6]:
vehicles = ['Dodge Charger', 'Dodge Challenger', 'Durango']
message1 = f"I would like to own a {vehicles[2]} for the winter months."
message2 = f"I would love to own a Rallye AWD {vehicles[0]}."
message3 = f"My dream car is a blue {vehicles[1]} with black stripes."
print(message1)
print(message2)
print(message3)

I would like to own a Durango for the winter months.
I would love to own a Rallye AWD Dodge Charger.
My dream car is a blue Dodge Challenger with black stripes.

In [7]:
guest_list = ['Albert Camus', 'Friedrich Nietzsche', 'Alexander the Great']
message1 = f"Dear {guest_list[0]}, you are formally invited to dinner."
message2 = f"Dear {guest_list[1]}, you are formally invited to dinner."
message3 = f"Dear {guest_list[2]}, you are formally invited to dinner."
print(message1)
print(message2)
print(message3)
print(guest_list[1])
guest_list[1] = 'Jack Sparrow'
print(guest_list)
message1 = f"Dear {guest_list[0]}, you are formally invited to dinner."
message2 = f"Dear {guest_list[1]}, you are formally invited to dinner."
message3 = f"Dear {guest_list[2]}, you are formally invited to dinner."
print(message1)
print(message2)
print(message3)

Dear Albert Camus, you are formally invited to dinner.
Dear Friedrich Nietzsche, you are formally invited to dinner.
Dear Alexander the Great, you are formally invited to dinner.
Friedrich Nietzsche
['Albert Camus', 'Jack Sparrow', 'Alexander the Great']
Dear Albert Camus, you are formally invited to dinner.
Dear Jack Sparrow, you are formally invited to dinner.
Dear Alexander the Great, you are formally invited to dinner.

In [9]:
print("We found a larger table.")
guest_list = ['Michael Scott','Albert Camus', 'Ryan Reynolds', 'Jack Sparrow', 'Alexander the Great', 'Aristotle']
#guest_list.insert(0, 'Michael Scott')
#guest_list.insert(2, 'Ryan Reynolds')
#guest_list.append('Aristotle')
print(guest_list)
message1 = f"Dear {guest_list[0]}, you're invited to dinner"
message2 = f"Dear {guest_list[1]}, you're invited to dinner"
message3 = f"Dear {guest_list[2]}, you're invited to dinner"
message4 = f"Dear {guest_list[3]}, you're invited to dinner"
message5 = f"Dear {guest_list[4]}, you're invited to dinner"
message6 = f"Dear {guest_list[5]}, you're invited to dinner"
print(message1)
print(message2)
print(message3)
print(message4)
print(message5)
print(message6)

We found a larger table.
['Michael Scott', 'Albert Camus', 'Ryan Reynolds', 'Jack Sparrow', 'Alexander the Great', 'Aristotle']
Dear Michael Scott, you're invited to dinner
Dear Albert Camus, you're invited to dinner
Dear Ryan Reynolds, you're invited to dinner
Dear Jack Sparrow, you're invited to dinner
Dear Alexander the Great, you're invited to dinner
Dear Aristotle, you're invited to dinner

In [17]:
#guest_list.pop()
#print(guest_list)
#printing messages would be same message = f""
#del guest_list[0]
print(guest_list)

[]

In [9]:
places = ['Japan', 'Greece', 'Spain', 'Iceland', 'Wales']
print(places)
for i in sorted(places):
  print(i)
print(places)

['Japan', 'Greece', 'Spain', 'Iceland', 'Wales']
Greece
Iceland
Japan
Spain
Wales
['Japan', 'Greece', 'Spain', 'Iceland', 'Wales']

In [12]:
sorted(places, reverse = True)
# The rest of the exercise seems redundant since its the same command

['Wales', 'Spain', 'Japan', 'Iceland', 'Greece']

In [14]:
guest_list = []
len(guest_list)

0

In [16]:
favorite_games = ['Monster Hunter', 'Destiny', 'Pokemon', 'Apex Legends', 'Minecraft']
print(favorite_games)
for g in sorted(favorite_games):
  print(g)

['Monster Hunter', 'Destiny', 'Pokemon', 'Apex Legends', 'Minecraft']
Apex Legends
Destiny
Minecraft
Monster Hunter
Pokemon

In [17]:
number = [[x ** 3] for x in range(10000)]
print(number[60:85:7])

[[216000], [300763], [405224], [531441]]

In [37]:
equation = [[7.4 * x + 51] for x in range(-10, 121)]
print(equation[50])
print(equation[60])
print(equation[130])
print(equation[2])
print(equation[16])

[347.0]
[421.0]
[939.0]
[-8.200000000000003]
[95.4]