<a href="https://colab.research.google.com/github/ASTRA018/ASTRA018/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
pizzas = ['buffalo chicken pizza', 'mushroom pizza', 'pepperoni pizza', 'chicken bacon ranch pizza', 'cheese pizza']
friends_pizzas = pizzas[:]
for pizza in pizzas:
   print(f'I like {pizza}!')
print("I really like pizza!")
pizzas.append('garlic pizza')
friends_pizzas.append('pineapple pizza')

print(f'The first three items on the list are {pizzas[:3]}')
print(f'The middle three items on the list are {pizzas[1:4]}')
print(f'The last three items on the list are {pizzas[-3:]}')
print("\nMy favorite pizzas are:")
print(pizzas)
print("\nMy friends favorite pizzas are:")
print(friends_pizzas)

I like buffalo chicken pizza!
I like mushroom pizza!
I like pepperoni pizza!
I like chicken bacon ranch pizza!
I like cheese pizza!
I really like pizza!
The first three items on the list are ['buffalo chicken pizza', 'mushroom pizza', 'pepperoni pizza']
The middle three items on the list are ['mushroom pizza', 'pepperoni pizza', 'chicken bacon ranch pizza']
The last three items on the list are ['chicken bacon ranch pizza', 'cheese pizza', 'garlic pizza']

My favorite pizzas are:
['buffalo chicken pizza', 'mushroom pizza', 'pepperoni pizza', 'chicken bacon ranch pizza', 'cheese pizza', 'garlic pizza']

My friends favorite pizzas are:
['buffalo chicken pizza', 'mushroom pizza', 'pepperoni pizza', 'chicken bacon ranch pizza', 'cheese pizza', 'pineapple pizza']

In [ ]:
#4.2 is the same as the pervious exercise so I will skip it

In [5]:
for values in range(1, 21):
   print(values)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [11]:
for values in range (1, 1000000):
  #print(values) Too long of a list

IndentationError: ignored

In [16]:
numbers = list(range(1,1000001))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000

In [22]:
odd_numbers = list(range(1, 21, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [24]:
cubes = []
for value in range(1,11):
   cubes.append(value**3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [25]:
cubes = [value**3 for value in range(1,11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [45]:
menu_items = ('fried rice', 'ramen', 'sesame chicken', 'stir fry vegetables')
#menu[3] = 'shrimp'
print("Original Menu:")
for menu in menu_items:
   print(menu)

menu_items = ('fried rice', 'ramen', 'shrimp', 'sushi')
print("\nModified Menu:")
for menu in menu_items:
   print(menu)

Original Menu:
fried rice
ramen
sesame chicken
stir fry vegetables

Modified Menu:
fried rice
ramen
shrimp
sushi

In [49]:
def factorial1(n):
  numbers = [x+1 for x in range(n)]
  fact = 1
  for x in numbers:
    fact *=x
  return fact
print(factorial1(5))
print(factorial1(10))
print(factorial1(20))
print(factorial1(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [77]:
exclude_numbers = [3, 12, 21]
def special_factorial(n):
  numbers = [x+1 for x in range(n) if x not in exclude_numbers]
  fact = 1
  for x in numbers:
    fact *=x
  return fact
print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000